@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: rgb(255, 255, 255);
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* mode button */
#mode{
  margin:10px 0px 0px 20px;
  font: size 6px;
  height: 30px;

}
.dark{
  background-color: #222222
}
.el-dark{
  color: white;
}
body{
  padding: 0px;
  margin: 0px;
  background-color:whitesmoke;
  box-sizing: border-box;
}
/* banner */
.banner{
  max-width: 60vw;
  margin:30px auto;
  display: flex;
  justify-content: space-between;
}
h1{
  font-family: 'Merriweather', serif;
  font-size: 36px;
  color:#F9690E
}
p{
  color:#78472b;
  font-weight: bold;
}
h1, button, p{
  height: 40px;
  
}

button {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#6f5833;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  outline-style: none;
}
button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
button:active {
	position:relative;
	top:1px;
}
/* banner ends */

/* grid container start */
#grid-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  height: 400px;
  margin: auto;
}
.tile-styled{
  width: 100px;
  height: 100px;
  border: 4px solid #f1e1d8;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-color: #dcb6a0;
  text-align: center;
}
.flashing{
  background-color:red
}
.white{
  background-color: #DEDACB;
}
.red{
  background-color:#DCB821;
}
.yellow{
  background-color: #FAF9D3;
}
.brown{
  background-color: #6f5833;
}
.green{
  background-color: #53F613;
}
.iris{
  background-color: #763568;
}
.bamboo{
  background-color: #006442;
}
.ecstasy{
  background-color: #F9690E;
}
footer{
  display: flex;
  justify-content:space-around;
  margin: 30px auto;
  font-size: 10px;
  text-align: center;
}

/* grid container ends */
/* media queries */

@media only screen and (max-width: 500px) {
  .banner{
    max-width: 90vw;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
  }
  h1{
    color:#78472b;
    font-weight: bold;
    font-size: 20px;
  }
  p{
    color:#78472b;
    font-weight: bold;
    font-size:10px
  }
  h1, button, p{
    padding:10px
  }
  #grid-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 300px;
    /* margin:60px 20px; */
    /* padding: 0 auto; */
  }
  .tile-styled{
    width: 75px;
    height: 75px;
    margin: auto;
    border: 4px solid #f1e1d8;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
   background-color: #dcb6a0 ;
  }
  button {
    font-size:10px;
    font-weight:bold;
    margin-right: 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    outline-style: none;
    width:60px;
    text-align: center;
  }
  .how-to-play{
    font-size:10px;
  }
  .white{
    background-color: #DEDACB;
  }
  .red{
    background-color:#DCB821;
  }
  .yellow{
    background-color: #FAF9D3;
  }
  .brown{
    background-color: #6f5833;
  }
  .green{
    background-color: #53F613;
  }
  .iris{
    background-color: #763568;
  }
  .bamboo{
    background-color: #006442;
  }
  .ecstasy{
    background-color: #F9690E;
  }
}